# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.expo-shared/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore
android/.gradle/
android/build/
android/app/build/
ios/build/
ios/Pods/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
logs/
*.log
pnpm-debug.log*
lerna-debug.log*

# macOS
.DS_Store
*.pem

# Windows
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/

# local env files
.env*.local
.env
.env.local
.env.development
.env.test
.env.production

# typescript
*.tsbuildinfo

# Caches / temp
.cache/
.tmp/
tmp/

# Editors / IDE
.vscode/
.idea/
*.swp
*.swo
